html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;	
}


@mainColor: pink;
@headerColor: red;
@footerColor: blue;
@articleColor: tomato;
@divColor: purple;
@sectionColor: green;
@asideColor: lightblue;

header {
	background-color: @headerColor;
}

main {
	background-color: @mainColor;
}

footer {
	background-color: @headerColor;
}

section {
	background-color: @sectionColor;
}

aside {
	background-color: @asideColor;
}

article {
	background-color: @articleColor;
}

div {
	background-color: @divColor;
}

