header {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  color: red;
}
header:before,
header:after {
  content: "";
  display: table;
}
header:after {
  clear: both;
}
main {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
}
main:before,
main:after {
  content: "";
  display: table;
}
main:after {
  clear: both;
}
main > section {
  width: 75%;
  float: left;
  padding: 5px;
  margin: 0 0% 0 0;
}
main > section article {
  width: 33.33333333%;
  float: left;
  padding: 5px;
  margin: 0 0% 1rem 0;
  height: 200px;
}
main > aside {
  width: 25%;
  float: left;
  padding: 5px;
  margin: 0 0% 0 0;
}
main > aside section {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
}
main > aside section:before,
main > aside section:after {
  content: "";
  display: table;
}
main > aside section:after {
  clear: both;
}
main > aside section div {
  width: 50%;
  float: left;
  padding: 5px;
  margin: 0 0% 0 0;
}
footer {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
}
footer:before,
footer:after {
  content: "";
  display: table;
}
footer:after {
  clear: both;
}
@media (max-width: 68rem) {
  main > section article {
    width: 50%;
    float: left;
    padding: 5px;
    margin: 0 0% 1rem 0;
  }
  main > aside section div {
    max-width: 75rem;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
  }
  main > aside section div:before,
  main > aside section div:after {
    content: "";
    display: table;
  }
  main > aside section div:after {
    clear: both;
  }
}
@media (max-width: 53rem) {
  main > section {
    max-width: 75rem;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
  }
  main > section:before,
  main > section:after {
    content: "";
    display: table;
  }
  main > section:after {
    clear: both;
  }
  main > aside {
    max-width: 75rem;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
  }
  main > aside:before,
  main > aside:after {
    content: "";
    display: table;
  }
  main > aside:after {
    clear: both;
  }
  main > aside section {
    width: 50%;
    float: left;
    padding: 5px;
    margin: 0 0% 1rem 0;
  }
}
@media (max-width: 36rem) {
  main > section article {
    max-width: 75rem;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
  }
  main > section article:before,
  main > section article:after {
    content: "";
    display: table;
  }
  main > section article:after {
    clear: both;
  }
  main > aside section {
    max-width: 75rem;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
  }
  main > aside section:before,
  main > aside section:after {
    content: "";
    display: table;
  }
  main > aside section:after {
    clear: both;
  }
}
