.jg-row {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
}
.jg-row:before,
.jg-row:after {
  content: "";
  display: table;
}
.jg-row:after {
  clear: both;
}
.jg-col-1-4 {
  width: 25%;
  float: left;
  padding: 5px;
  margin: 0 0% 0 0;
}
.jg-col-2-4 {
  width: 50%;
  float: left;
  padding: 5px;
  margin: 0 0% 0 0;
}
.jg-col-3-4 {
  width: 75%;
  float: left;
  padding: 5px;
  margin: 0 0% 0 0;
}
