@import (less) "../../bower_components/pure/grids-core.css";
@import (less) "../../bower_components/pure/grids-responsive.css";

.myMixin() {
	background: blue;
}

.one, .two {
	padding: 0;
}

.blah {
	.pure-g();
	color: red;
	.pure-u();
}