@import 'gridMixins';

header {
	.Row();
	color: red;
}

main {
	.Row();
}

main > section {
	.Cols(@colspan: 9; @total_cols: 12;)
}

main > section article {
	.Cols(@colspan: 1; @total_cols: 3; @margin_bottom: 16 * @toRems;);
	height: 200px;
}

main > aside {
	.Cols(@colspan: 3; @total_cols: 12;)
}

main > aside section {
	.Row();
}

main > aside section div {
	.Cols(@colspan: 1; @total_cols: 2;)
}

footer {
	.Row();
}

@media (max-width: 68rem) {
	header {
	}

	main {
	}

	main > section {
	}

	main > section article {
		.Cols(@colspan: 1; @total_cols: 2; @margin_bottom: 16 * @toRems;);
	}

	main > aside {
	}

	main > aside section {
	}

	main > aside section div {
		.Row();
	}

	footer {
	}
}

@media (max-width: 53rem) {
	header {
	}

	main {
	}

	main > section {
		.Row();
	}

	main > section article {
	}

	main > aside {
		.Row();
	}

	main > aside section {
		.Cols(@colspan: 1; @total_cols: 2; @margin_bottom: 16 * @toRems;);
	}

	main > aside section div {
	}

	footer {
	}
}

@media (max-width: 36rem) {
	header {
	}

	main {
	}

	main > section {
	}

	main > section article {
		.Row();
	}

	main > aside {
	}

	main > aside section {
		.Row();
	}

	main > aside section div {
	}

	footer {
	}
}
