@import 'gridMixins';

.jg-row {
	.Row();
}

.jg-col-1-4 {
	.Cols(@colspan: 1;@total_cols: 4;);
}

.jg-col-2-4 {
	.Cols(@colspan: 2;@total_cols: 4;);
}

.jg-col-3-4 {
	.Cols(@colspan: 3;@total_cols: 4;);
}

.jg-gutter {
  
}